MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=caderneta
REGISTER_PIN=troca-este-pin
ONLINE_REQUIRED=true
MONGO_CONNECT_TIMEOUT_MS=8000
PORT=1312
